.ContactDetails h1 {
    text-align: center;    
}
.InfoDetails {
    border-radius: 10px;
    transition: transform 0.2s;
    max-width: 1050px;
    margin: auto;
}
.InfoDetails p {
    text-align: center; 
    color: whitesmoke; 
    border-style: solid;
    border-color: #00f5cc;
    border-radius: 20px; 
    padding: 2em;
    margin: 10px;
}
 .ContactSales h2 {
    text-align: center;
}
.ContactSales {
    text-align: center; 
    color: whitesmoke; 
    border-style: solid;
    border-color: #00f5cc;
    border-radius: 20px; 
    padding: 2em;
    margin: 10px;
}
.ContactSales p {
    border-style: solid;
    border-radius: 20px;
}
.ContactSales button:hover {
    transform: scale(1.05);
} 