header {
  text-align: center;
}
header h1 {
  padding: 20px;
}
header h1:hover {
transform: scale(1.05);
}
nav {
  gap: 20px;
  justify-content: center;
  display: flex;
  border-style: solid;
  border-color: #00f5cc;
  border-radius: 20px;
  padding: 20px;
}
nav a {
  border-style: solid;
  border-color: #011a3a;
  border-radius: 20px;
  margin: 0 10px;
  padding: 10px 20px;
}
nav a:hover {
  transform: scale(1.05);
}
footer nav{
  position: fixed;
  bottom: 0;
  width: 100%;
  text-align: center;
  padding: 20px;
  border-style: solid;
  background-color: #00f5cc;
  border-radius: 5px;
}
